.header{
    width: 100%;
    height: 8rem;
    background-color: $blue;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .5);
    
    &__main{
        width: 78%;
        height: 100%;
        // background-color: pink;
    }

    img{
        height: 6rem;
        width:  7rem;
    }

    ul{
        list-style-type: none;
        margin-right: 4rem;
    }

    li{
        // background-color: pink;
        padding: 2.5rem 1.5rem;
        transition: all .2s ease;

        &:hover{
            border-bottom: 3px solid $green;
        }
    }
    
    a,
    a:link,
    a:visited{
        text-decoration: none;
        font-size: 1.6rem;
        color: white;
    }

    i{
        font-size: 2rem;
        color: white;
        margin-left: 1.5rem;
        cursor: pointer;
    }

    p{
        font-size: 1.6rem;
        color: white;
        cursor: pointer;
    }
    span{
        color: $orange;
    }
}

.active-nav{
    background-color: rgba($color: white, $alpha: .3);
    border-top: 3px solid $green;

    &:hover{
        border-bottom: none !important;
    }
}
