.bime{
    width: 100%;
    background-color: rgba($color: gray, $alpha: .5);
    direction: rtl;
    padding: 1rem;
    
    &.homepage{
        background-image: linear-gradient(rgba(#000000 , .3),rgba(#000000 , .3)),url(../../assets/img/background.png);
        background-position: bottom;
        padding: 10rem 0;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    &__container{
        background-color: rgba($color: #ccc, $alpha: .8);
        border-radius: 2rem;
        margin: 0 -1rem;
        height: 50rem;
    }

    &__content{width: 100%;}

    a,
    a:link,
    a:visited{
        padding: 8px 1rem;
        // width: 95%;
        text-decoration: none;
        background-color: white;
        // margin: 3.5rem 2rem;
        font-size: 1.6rem;
        color: $blue;
        border: 1.5px solid $blue;
        border-radius: 8px;
        transition: all .3s ease;
        cursor: pointer;

        &:hover{
            background-color: $blue !important;
            color: $orange !important;
            border-color: $green !important;

            i{
                color: $orange;
            }
        }
    }

    i{
        font-size: 2.7rem;
        color: $blue;
        margin-left: 3rem;
        transition: all .3s ease;
    }

    label{
        font-size: 1.3rem;
        color: $blue;
        margin:0 1rem;
    }

    &__checkbox{
        width: 90%; 
        margin: 1rem;

        span{
            font-size: 1.4rem;
            color: $blue;
            margin: 0 1rem;
        }

        input[type="checkbox"] {
            position: absolute;
            visibility: hidden; 
          }
            
          label {
            position: relative;
            display: block;
            width: 6rem;
            height: 3.2rem;
            border-radius: 3rem;
            margin: 0 auto;
            background-color: #fff;
            cursor: pointer;
            -webkit-user-select: none;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            box-shadow: 0 0 3px $gray;
          }
          
          label:before {
            content: ' ';
            position: absolute;
            top: 2px;
            left: 2px;
            width:  2.8rem;
            height: 2.8rem;
            background-color: $green;
            border-radius: 50%;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
          }
          
          input:checked + label {
            background-color: $green; 
          }
          
          input:checked + label:before {
            left: 3rem;
            background-color: #fff;
          }
        
    }

    &__row{
        width: 95%;
        margin: 1rem;
    }

    button{
        // width: 15rem;
        height: 4.5rem;
        font-size: 1.6rem;
        border-radius: 8px;
        color: white;
        border: 1px solid $blue;
        outline: none;
        margin-right: 1rem;
        cursor: pointer;
    }

    &__bg-blue{
        background-color: $blue;
        width: 100%;
        margin: 1rem; 
        padding: 1rem 2rem; 
        border-radius: 1rem; 
        border: 1px dashed white;

        label{
            color: white;
        }
    }
}

.bime-active{
    background-color: $blue !important;
    color: $orange !important;
    border-color: $green !important;

    i{
        color: $orange;
    }
}

.small{
    .container{
        width: 20rem;
    }
}


// .container {
//     margin: 0 auto;
//     width: 25rem;

//     .select2 {
//         width: 100% !important;
//         text-align: right !important;
//         direction: rtl !important;
//         height: 4.5rem;
//         border-radius: 8px;
//         border: 2px solid $blue;
//         outline: none;
//         padding: 0 5px;
//     }

//     .select2-container {
//         .select2-selection--single {
//             height: 5rem;
//             font-size: 1.6rem; 
//             position: relative;
//             outline: none;
//             border: none;

//             .select2-selection__rendered {
//                 line-height: 10rem;
//             }

//             .select2-selection__arrow {
//                 top: 50%;
//                 right: 82%;
//                 transform: translate(-82%, -50%);
//             }

//             .select2-container--default {
//                 .select2-results > .select2-results__options {
//                     -webkit-overflow-scrolling: touch; /* use momentum scrolling */
//                     text-align: right !important;
//                     direction: rtl !important;
//                 }
//             }
//         }
//     }
// }