.personal-card-large{
    // width: 73%;
    padding: 2.5rem 0;
    background-color: white;
    box-shadow: 0 0 5px rgba($color: gray, $alpha: .3);
    margin: 3rem 7rem;
    margin-bottom: 0;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: all .3s ease;
    max-width: 90rem;
    position: relative;
        
    @include respond(lg){
        margin: 3rem 0;
    }

    &:hover{
        border: 2px solid $green;
    }

    &__tooltip{
        width: 100%;
        position: absolute !important;
    }

    &__clip-path{
        width:  8rem;
        height: 3rem;
        clip-path: polygon(16% 0, 100% 0%, 100% 100%, 16% 100%, 15% 67%, 0 32%, 16% 32%);
        background-color: $red;
        color: white;
        font-size: 1.2rem;
        padding-right: 4px;
        // margin-right: -1.5rem;
        
        @include respond(sm){
            // margin-left: -2rem;
        }
    }

    span{
        padding: 3px 2rem;
        width: 6.7rem;
        background-color: $orange;
        font-size: 1.3rem;
        color: $gray-dark;
        border-radius: 1rem 0 0 1rem;
        // margin-right: -1.5rem;
        margin-bottom: 3rem;
        
        @include respond(sm){
            margin-bottom: 0;
            // margin-right: -2rem;
        }
    }

    img{
        height: 9rem;
        width:  9rem;
        margin-bottom: 1rem;
        
        @include respond(sm){
            height: 12rem;
            width:  12rem;
        }
    }

    h3{
        font-size: 1.7rem;
        color: $green;
    }

    button{
        width: 13rem;
        height: 4rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        color: white;
        background-color: white;
        box-shadow: 0 0 5px $gray;
        font-size: 1.4rem;
        margin: 1rem 2rem;
        cursor: pointer;
    }
    
    p{
        font-size: 1.5rem;
        color: $gray-dark;

        span{
            color: $pink;
            background-color: white;
            font-size: 1.6rem;
            padding: 0 5px;
        }
    }

    i{
        color: $orange;
    }

    &__circle{
        // width:  3rem;
        // height: 3rem;
        padding: 5px 8px ;
        border: 1px solid $gray;
        border-radius: 100%;
        font-size: 1.3rem;
    }

    &__jarime{
        border-top: 1px solid $gray; 
        padding-top: 1rem; 
        margin-top: 1.5rem;
        position: relative;
        p{
            font-size: 1.3rem;
            color: #040F4F;
            margin: 0 1rem;
        }

        span{
            font-size: 1.5rem;
            color: #040F4F !important;
        }

    }

    &__btn{
        // background-color: transparent;
        color: $gray !important;
        // box-shadow: 0 0 0 transparent;
        position: absolute;
        cursor: pointer;

        i{
            color: $gray-dark;
            margin: 8px;
        }
    }
    
    button.bishtr{
        background-color: transparent;
        color: $gray;
        position: absolute;
        left: 1%;
        top: 80%;
        cursor: pointer;
        box-shadow: none;
    }

    button.kamtr{
        display: none;
        background-color: transparent;
        top: 85%;
        left: 5%;
        box-shadow: none;
    }

    table {
        border-collapse: collapse;
        width: 80%;
        margin: 3rem 0;
        display: none;
      
      td{
        border: 1px solid $gray-dark;
        text-align: right;
        padding: 8px;
        font-size: 1rem;
        color: $gray-dark;
        span{
          color: $gray-dark;
          background-color: transparent;
          font-size: 1rem;
          padding: 0 5px;
        }
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    }

    &__ghest{
        // height: 20rem;
        margin-top: 3rem;
        width: 80%;
        
        span{
            font-size: 1.3rem;
            color: $blue-light;
            width: auto;
            background-color: transparent;
            text-align: center;
        }
    }

    &__dashed-border{
        width: 24%;
        height: 9rem;
        border: 1px dashed $gray-dark;
        border-radius: 1.2rem;
        
        h3{
            font-size: 1.3rem;
            color: $gray-dark;
        }

        p{
            font-size: 1.3rem;
        }
    }

}

.display{

    table{
        display: table !important;
    }

    button.bishtr{
        display: none !important;
    }

    button.kamtr{
        display: inline !important;
    }
}