.question{
    direction: rtl;

    &__main{
        min-height: 50rem;
        padding: 2rem 0;
        width: 100%;
        background-image: url(../../assets/img/question.png);
        background-repeat: no-repeat;
        background-size: cover;

        @include respond(md){
            background-image: none;
            background-color: $color-blue;
        }
    }
    background-position: left;

    &__tab-ofoghi{
        position: relative;
        // background-color: pink;
    }

    &__tab-item{
        width: 100%;

        div{
            height: 7rem;
            width: 95%;
            background-color: white;
            border-radius: 1.2rem;
            box-shadow: 0 0 5px rgba($color: $gray, $alpha: .8);
            cursor: pointer;
        }

        h3{
            margin-right: 2.5rem;
            font-size: 1.5rem;
            color: $gray-dark;
            font-weight: 500;
            max-width: 80%;
            text-align: right;

            @include respond(sm){font-size: 1.8rem;}
        }

        i{
            font-size: 2rem;
            border-radius: 50%;
            background-color: $gray;
            color: white;
            padding: 4px 9px;
            margin-left: 2.5rem;
            position: relative;
            transition: all .3s ease;
            position: absolute;
            left: 2%;

            @include respond(sm){padding: 5px 9px;}
        }
        
        i.up{
            background-color: $green-light;
            padding: 5px 9px;
            display: none;
            z-index: 999;

            @include respond(sm){padding: 6px 9px;}
        }

        p{
            width: 94%;
            left: 2%;
            position: relative;
            padding: 0 1rem;
            font-size: 1.4rem;
            text-align: justify;
            color: white;
            height: 0;
            overflow: hidden;
            border-left: 2px solid white;
            transition: all .3s ease;
            
            @include respond(md){
                width: 92%;
                font-size: 1.6rem;
            }

            @include respond(sm){
                width: 88%;
            }
        }

        &:last-of-type{
            p{padding: 0;}
        }
    }
}

.active-tab{
    position: relative;
    margin-bottom: 1rem;
    
    h3{
        color: $green-light;
        max-width: 90%;
    }

    
    p{
        height: 20rem;
        overflow: visible;
        padding:  2rem !important;
    }

    i.right{
        display: none;
    }

    i.up{
        display: inline;
        top: 100%;
        transform: translateY(-100%);
    }
}