.result{
    width: 100%;
    // height: 100rem;
    background-color: $gray-light;
    direction: rtl;

    &__filter-list{
        width: 100%;
        background-color: white;
        position: relative;

        div{
            position: relative;
            left: -34%;
            text-align: right;

            @include respond(lg){
                left: 0;
            }
        }

        a,
        a:link,
        a:visited{
            text-decoration: none;
            color: $gray-dark;
            font-size: 1.4rem;
            margin-left: 1rem;
            display: inline-block;
            padding: 3.2rem 2rem;
            cursor: pointer;
            transition: all .3s ease;

            @include respond(sm){font-size: 1.8rem;}
        }
    }

    &__result-list{
        // height: 130rem;
        // overflow-y: scroll;

        // &::-webkit-scrollbar {
        //     width: 0;
        // }
        border-right: 8px solid rgba($color: gray, $alpha: .5);
        padding-bottom: 3rem;
    }

    &__suggestion{
        width: 100%;
        background-color: $orange;
        padding: 2rem 0;
        box-shadow:inset 0 0 5px rgba($color: #000000, $alpha: .3);

        &--main{
            width: 100%;
            position: relative;
            right: 22%;
            transform: translate(15% , 0%);

            @include respond(lg){
                width: 80%;
            }

            @include respond(md){
                right: 25%;
                width: 80%;
            }

            @include respond(sm){
                width: 70%;
                right: 50%;
                transform: translate(50% , 0%);
            }
        }
    }
    
    .owl-nav{
        display:block !important;
    }    
    .owl-prev{
        text-align: center;
        padding:1rem;
        border-radius: 50%;
        position: absolute;
        right:  -5%;
        top: 50%;
        transform: translate(-5%, -50%);

        @include respond(sm){
            right: -15%;
        }

        & span{
            font-size: 5rem;
        
            @include respond(phone-port){font-size: 7rem;}
        }
    }
    .owl-next{
        text-align: center;
        padding:1rem;
        position: absolute;
        left: 22%;
        top:50%;
        transform: translate(-20%, -50%);
        border-radius: 50%;

        @include respond(lg){left: 5%;}

        @include respond(md){
            left: 3%;
        }

        @include respond(sm){
            left: -8%;
        }

        & span{
            font-size: 5rem; 
        
            @include respond(phone-port){font-size: 7rem;}
        }
    }

    i{
        font-size: 2.5rem;
        padding: 3px;
    }
}

a.active-filter{
    background-color: rgba($color: $gray-light, $alpha: .9);
    border-top: 2.5px solid $orange;

    @include respond(md){border-top: none;}
}
