.result{
    width: 100%;
    // height: 100rem;
    background-color: $gray-light;
    direction: rtl;

    &__filter-list{
        width: 100%;
        height: 9rem;
        background-color: white;
        position: relative;

        div{
            position: relative;
        left: -30%;
        }

        a{
            text-decoration: none;
            color: $gray-dark;
            font-size: 1.4rem;
            margin-left: 1rem;
            display: inline-block;
            padding: 3.2rem 2rem;
        }
    }

    &__result-list{
        flex: 1;
        border-right: 8px solid rgba($color: gray, $alpha: .5);
        padding-bottom: 3rem;
    }

    &__row-list{
        width: 100%;
        background-color: $orange;
        height: 35rem;
    
    }

    &__column-list{
        height: 90rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

.active-filter{
    background-color: rgba($color: $gray-light, $alpha: .9);
    border-top: 2.5px solid $orange;
}


%remain-steps{
  &:before {
    font-family: inherit;
    font-weight: 700;
  }
  &:after{
    background-color: $gray;
  }
}
