@font-face {
    font-family: 'irsans-bold';
    src: url(../../assets/fonts/iransans-bold/iransansweb_bold.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.ttf) format('truetype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff) format('woff'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff2) format('woff2');
}
@font-face {
    font-family: 'irsans';
    src: url(../../assets/fonts/iransans/iransansweb.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans/iransansweb.ttf) format('truetype'), url(../../assets/fonts/iransans/iransansweb.woff) format('woff'), url(../../assets/fonts/iransans/iransansweb.woff2) format('woff2');
}
body{
    font-family: 'irsans';
}

input{
    font-size: 1.5rem !important;
}

.navbar.bg-primary{
    background-color: $blue !important;
    text-align: right;
}

.navbar-toggler{
    border-color: white !important;
    padding: 4px 6px !important;
    border-radius: 5px !important;
}

.navbar-toggler-icon{
    font-size: 2rem;
    color: white !important;
}
