// @font-face {
//     font-family: 'irsans-bold';
//     src: url(../../assets/fonts/iransans-bold/iransansweb_bold.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.ttf) format('truetype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff) format('woff'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff2) format('woff2');
// }
// @font-face {
//     font-family: 'irsans';
//     src: url(../../assets/fonts/iransans/iransansweb.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans/iransansweb.ttf) format('truetype'), url(../../assets/fonts/iransans/iransansweb.woff) format('woff'), url(../../assets/fonts/iransans/iransansweb.woff2) format('woff2');
// }
@font-face {
    font-family: Vazir;
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
    url('Vazir.woff') format('woff'),
    url('Vazir.ttf') format('truetype');
    font-weight: normal;           
}

body{
    font-family: Vazir !important;
}

input{
    font-size: 1.5rem !important;
}

.navbar.bg-primary{
    background-color: $blue !important;
    text-align: right;
}

.navbar-toggler{
    border-color: white !important;
    padding: 4px 6px !important;
    border-radius: 5px !important;
}

.navbar-toggler-icon{
    font-size: 2rem;
    color: white !important;
}

.navbar-toggler.bg-primary{
    background-color: $blue !important;
}
