.filter__multi-steps > li.is-active:before, .filter__multi-steps > li.is-active ~ li:before, .steps > li.is-active:before, .steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-weight: 700; }

.filter__multi-steps > li.is-active:after, .filter__multi-steps > li.is-active ~ li:after, .steps > li.is-active:after, .steps > li.is-active ~ li:after {
  background-color: #B2B2B2; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  direction: rtl; }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

button {
  cursor: pointer;
  outline: none !important; }

.red {
  color: #D8373E; }

.blue {
  color: #040F4F; }

.green {
  color: #3CB938; }

.yellow {
  color: yellow; }

.orange {
  color: #F5A11D; }

.black {
  color: black !important; }

.bg-red {
  background-color: #D8373E !important; }

.bg-green {
  background-color: #3CB938 !important; }

.bg-blue-light {
  background-color: #1E96FC !important; }

@font-face {
  font-family: 'irsans-bold';
  src: url(../../assets/fonts/iransans-bold/iransansweb_bold.eot?) format("embedded-opentype"), url(../../assets/fonts/iransans-bold/iransansweb_bold.ttf) format("truetype"), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff) format("woff"), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff2) format("woff2"); }

@font-face {
  font-family: 'irsans';
  src: url(../../assets/fonts/iransans/iransansweb.eot?) format("embedded-opentype"), url(../../assets/fonts/iransans/iransansweb.ttf) format("truetype"), url(../../assets/fonts/iransans/iransansweb.woff) format("woff"), url(../../assets/fonts/iransans/iransansweb.woff2) format("woff2"); }

body {
  font-family: 'irsans'; }

input {
  font-size: 1.5rem !important; }

.navbar.bg-primary {
  background-color: #040F4F !important;
  text-align: right; }

.navbar-toggler {
  border-color: white !important;
  padding: 4px 6px !important;
  border-radius: 5px !important; }

.navbar-toggler-icon {
  font-size: 2rem;
  color: white !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.orange-border {
  border: 1px solid #F5A11D !important; }

.display {
  display: none !important; }

.bime {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  direction: rtl;
  padding: 1rem; }
  .bime.homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/img/background.png);
    background-position: bottom;
    background-attachment: fixed;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 48em) {
      .bime.homepage {
        padding: 4rem 0; } }
  .bime__container {
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 2rem;
    margin: 0 -1rem;
    height: auto;
    padding: 1rem 0; }
    @media only screen and (max-width: 75em) {
      .bime__container {
        border-radius: 0 0 2rem 2rem;
        margin: 0; }
        .bime__container.bime-tabs {
          border-radius: 2rem 2rem 0 0 !important; } }
  .bime__content {
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .bime__content div {
        margin-top: 1rem; } }
  .bime a,
  .bime a:link,
  .bime a:visited {
    padding: 8px 1rem;
    text-decoration: none;
    background-color: white;
    font-size: 1.6rem;
    color: #040F4F;
    border: 1.5px solid #040F4F;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .bime a,
      .bime a:link,
      .bime a:visited {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #040F4F;
        border-left: 1px solid #040F4F; }
        .bime a:nth-child(n+1):nth-child(-n+3),
        .bime a:link:nth-child(n+1):nth-child(-n+3),
        .bime a:visited:nth-child(n+1):nth-child(-n+3) {
          border-top: 1px solid #040F4F; }
        .bime a:nth-child(3n+1),
        .bime a:link:nth-child(3n+1),
        .bime a:visited:nth-child(3n+1) {
          border-right: 1px solid #040F4F; } }
    @media only screen and (max-width: 48em) {
      .bime a,
      .bime a:link,
      .bime a:visited {
        border: none !important;
        border-bottom: 1px solid #040F4F !important;
        border-left: 1px solid #040F4F !important;
        font-size: 1.8rem; }
        .bime a:nth-child(n+1):nth-child(-n+2),
        .bime a:link:nth-child(n+1):nth-child(-n+2),
        .bime a:visited:nth-child(n+1):nth-child(-n+2) {
          border-top: 1px solid #040F4F !important; }
        .bime a:nth-child(2n+1),
        .bime a:link:nth-child(2n+1),
        .bime a:visited:nth-child(2n+1) {
          border-right: 1px solid #040F4F !important; } }
    .bime a:hover,
    .bime a:link:hover,
    .bime a:visited:hover {
      background-color: #040F4F !important;
      color: #F5A11D !important;
      border-color: #3CB938 !important; }
      @media only screen and (max-width: 75em) {
        .bime a:hover,
        .bime a:link:hover,
        .bime a:visited:hover {
          border-color: #040F4F !important; } }
      .bime a:hover i,
      .bime a:link:hover i,
      .bime a:visited:hover i {
        color: #F5A11D; }
  .bime i {
    font-size: 2.7rem;
    color: #040F4F;
    margin-left: 3rem;
    transition: all .3s ease; }
    @media only screen and (max-width: 48em) {
      .bime i {
        font-size: 3rem; } }
  .bime label {
    font-size: 1.3rem;
    color: #040F4F;
    margin: 0 1rem; }
    @media only screen and (max-width: 48em) {
      .bime label {
        font-size: 1.6rem; } }
  .bime__checkbox {
    width: 90%;
    margin: 1rem; }
    .bime__checkbox span {
      font-size: 1.4rem;
      color: #040F4F;
      margin: 0 1rem; }
      @media only screen and (max-width: 48em) {
        .bime__checkbox span {
          font-size: 1.8rem; } }
    .bime__checkbox input[type="checkbox"] {
      position: absolute;
      visibility: hidden; }
    .bime__checkbox label {
      position: relative;
      display: block;
      width: 6rem;
      height: 3.2rem;
      border-radius: 3rem;
      margin: 0 auto;
      background-color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-shadow: 0 0 3px #B2B2B2; }
      @media only screen and (max-width: 48em) {
        .bime__checkbox label {
          height: 4rem;
          width: 8rem; } }
    .bime__checkbox label:before {
      content: ' ';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 2.8rem;
      height: 2.8rem;
      background-color: #3CB938;
      border-radius: 50%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      @media only screen and (max-width: 48em) {
        .bime__checkbox label:before {
          height: 3.5rem;
          width: 3.5rem; } }
    .bime__checkbox input:checked + label {
      background-color: #3CB938; }
    .bime__checkbox input:checked + label:before {
      left: 3rem;
      background-color: #fff; }
      @media only screen and (max-width: 48em) {
        .bime__checkbox input:checked + label:before {
          left: 4.2rem; } }
  .bime__row {
    width: 95%;
    margin: 1rem; }
  .bime button {
    height: 4.5rem;
    font-size: 1.6rem;
    border-radius: 8px;
    color: white;
    border: 1px solid #040F4F;
    outline: none;
    margin-right: 1rem;
    cursor: pointer; }
  .bime__bg-blue {
    background-color: #040F4F;
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px dashed white; }
    .bime__bg-blue label {
      color: white; }

.bime-active {
  background-color: #040F4F !important;
  color: #F5A11D !important;
  border-color: #3CB938 !important; }
  @media only screen and (max-width: 75em) {
    .bime-active {
      border-color: #040F4F !important; } }
  .bime-active i {
    color: #F5A11D; }

.small .container {
  width: 20rem; }

.card {
  padding: 2rem 0;
  background-color: white;
  border-radius: 1.8rem;
  border: 2px solid #040F4F;
  direction: rtl;
  margin: 0 1rem; }
  .card img {
    height: 9rem;
    width: 8rem !important; }
  .card h2 {
    font-size: 1.8rem;
    color: #3CB938; }
    @media only screen and (max-width: 48em) {
      .card h2 {
        font-size: 2.2rem; } }
  .card a,
  .card a:link,
  .card a:visited {
    text-decoration: none;
    font-size: 1.7rem;
    color: #040F4F;
    width: 95%;
    text-align: center;
    padding: 8px 0;
    border: 2px solid #040F4F;
    border-radius: 1.2rem;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all .3s ease; }
    @media only screen and (max-width: 48em) {
      .card a,
      .card a:link,
      .card a:visited {
        font-size: 2rem;
        padding: 1.5rem 0; } }
    .card a:hover,
    .card a:link:hover,
    .card a:visited:hover {
      background-color: #040F4F;
      color: #F5A11D;
      border-color: #3CB938;
      padding-right: 2rem; }
    .card a:hover ~ p,
    .card a:link:hover ~ p,
    .card a:visited:hover ~ p {
      height: 15rem;
      padding: 1.2rem; }
    .card a:hover ~ a.btn,
    .card a:link:hover ~ a.btn,
    .card a:visited:hover ~ a.btn {
      display: inline; }
  .card a.btn {
    border: none;
    box-shadow: none;
    width: 90%;
    font-size: 1.3rem;
    color: #F5A11D;
    text-align: left;
    display: none;
    margin: 0;
    padding: 0; }
    .card a.btn:hover {
      background-color: white;
      padding-right: 0; }
  .card p {
    font-size: 1.4rem;
    text-align: justify;
    color: #666666;
    height: 0;
    overflow: hidden;
    transition: all .5s ease; }

.card-active p {
  height: 15rem;
  padding: 1.2rem; }

.card-active a.btn {
  display: inline; }

.filter {
  width: 30%;
  position: relative; }
  .filter__main {
    width: 45%;
    height: 130rem;
    padding: 1rem 0;
    background-color: white;
    position: absolute;
    left: 3%;
    top: -6%;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px #B2B2B2; }
    .filter__main div {
      width: 100%; }
  .filter input {
    height: 4.5rem;
    width: 95%;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #040F4F;
    box-shadow: 0 0 5px rgba(178, 178, 178, 0.5);
    padding: 1.5rem; }
  .filter label {
    font-size: 1.4rem;
    color: #040F4F; }
  .filter p {
    font-size: 1.3rem;
    color: #666666; }
  .filter span {
    padding: 8px 1rem;
    width: 95%;
    text-decoration: none;
    background-color: white;
    border: 1px solid #040F4F;
    border-radius: 1rem;
    transition: all .3s ease; }
    .filter span p {
      font-size: 1.6rem;
      color: #666666; }
    .filter span p.hide {
      display: none;
      color: #F5A11D; }
    .filter span:hover {
      background-color: #040F4F;
      border: 1px solid #3CB938; }
    .filter span:hover > i {
      color: #F5A11D; }
    .filter span:hover > p.show {
      display: none; }
    .filter span:hover > p.hide {
      display: inline; }
  .filter i {
    font-size: 2.6rem;
    color: #040F4F;
    margin-left: 1.5rem;
    transition: all .3s ease; }
  .filter__multi-steps {
    display: flex;
    flex-direction: column-reverse;
    width: 100%; }
    .filter__multi-steps > li {
      text-align: center;
      display: table-cell;
      position: relative;
      margin-top: 3rem;
      left: 25%;
      cursor: pointer; }
      .filter__multi-steps > li p {
        position: absolute;
        left: 1%;
        top: -10%; }
      .filter__multi-steps > li:before {
        content: "";
        display: block;
        margin: 0 auto 4px;
        background-color: #3CB938;
        color: transparent;
        width: 16px;
        height: 16px;
        z-index: 9;
        position: relative;
        border-radius: 50%;
        border: 2px solid #3CB938; }
      .filter__multi-steps > li:after {
        content: '';
        height: 2px;
        width: 5rem;
        background-color: #3CB938;
        position: absolute;
        top: -100%;
        left: 40%;
        transform: rotate(90deg); }
      .filter__multi-steps > li:last-child:after {
        display: none; }
      .filter__multi-steps > li.is-active:before {
        background-color: #3CB938;
        border-color: #3CB938; }
      .filter__multi-steps > li.is-active ~ li {
        color: #808080; }
        .filter__multi-steps > li.is-active ~ li:before {
          background-color: white;
          border-color: #B2B2B2; }

.flex {
  display: flex; }

.r-reverse {
  flex-direction: row-reverse; }

.column {
  flex-direction: column; }

.column-reverse {
  flex-direction: column-reverse; }

.justi-start {
  justify-content: flex-start; }

.justi-center {
  justify-content: center; }

.justi-end {
  justify-content: flex-end; }

.justi-around {
  justify-content: space-around; }

.justi-between {
  justify-content: space-between; }

.align-start {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.align-baseline {
  align-items: baseline; }

.align-content-center {
  align-content: center; }

.align-content-around {
  align-content: space-around; }

.wrap {
  flex-wrap: wrap; }

.hamkar {
  position: relative; }
  .hamkar__main {
    width: 100%;
    padding: 5rem 0;
    background-color: #F5F5F5;
    height: 65rem; }
  .hamkar .owl-nav {
    display: block !important; }
  .hamkar .owl-prev {
    text-align: center;
    padding: 1rem;
    position: absolute;
    right: 0%;
    top: 40%;
    transform: translate(-10%, -40%);
    border-radius: 50%; }
    .hamkar .owl-prev span {
      font-size: 5rem; }
  .hamkar .owl-next {
    text-align: center;
    padding: 1rem;
    position: absolute;
    left: 0%;
    top: 40%;
    transform: translate(-10%, -40%);
    border-radius: 50%; }
    .hamkar .owl-next span {
      font-size: 5rem; }

.personal-card-large {
  padding: 2.5rem 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
  margin: 3rem 7rem;
  margin-bottom: 0;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: all .3s ease;
  max-width: 85rem;
  position: relative; }
  .personal-card-large:hover {
    border: 2px solid #3CB938; }
  .personal-card-large__clip-path {
    width: 8rem;
    height: 3rem;
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 16% 100%, 15% 67%, 0 32%, 16% 32%);
    background-color: #D8373E;
    color: white;
    font-size: 1.2rem;
    padding-right: 4px; }
  .personal-card-large span {
    padding: 3px 2rem;
    width: 6.7rem;
    background-color: #F5A11D;
    font-size: 1.3rem;
    color: #666666;
    border-radius: 1rem 0 0 1rem;
    margin: 1rem 0 3rem; }
  .personal-card-large img {
    height: 9rem;
    width: 9rem;
    margin-bottom: 1rem; }
  .personal-card-large h3 {
    font-size: 1.7rem;
    color: #3CB938; }
  .personal-card-large button {
    width: 13rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: white;
    background-color: white;
    box-shadow: 0 0 5px #B2B2B2;
    font-size: 1.4rem;
    margin: 1rem 2rem;
    cursor: pointer; }
  .personal-card-large p {
    font-size: 1.5rem;
    color: #666666; }
    .personal-card-large p span {
      color: #FF0054;
      background-color: white;
      font-size: 1.6rem;
      padding: 0 5px; }
  .personal-card-large i {
    color: #F5A11D; }
  .personal-card-large__circle {
    padding: 5px 8px;
    border: 1px solid #B2B2B2;
    border-radius: 100%;
    font-size: 1.3rem; }
  .personal-card-large__jarime {
    border-top: 1px solid #B2B2B2;
    padding-top: 1rem;
    margin-top: 1.5rem;
    position: relative; }
    .personal-card-large__jarime p {
      font-size: 1.3rem;
      color: #040F4F;
      margin: 0 1rem; }
    .personal-card-large__jarime span {
      font-size: 1.5rem;
      color: #040F4F !important; }
  .personal-card-large__btn {
    color: #B2B2B2 !important;
    position: absolute;
    cursor: pointer; }
    .personal-card-large__btn i {
      color: #666666;
      margin: 8px; }
  .personal-card-large button.bishtr {
    background-color: transparent;
    color: #B2B2B2;
    position: absolute;
    left: 1%;
    top: 80%;
    cursor: pointer;
    box-shadow: none; }
  .personal-card-large button.kamtr {
    display: none;
    background-color: transparent;
    top: 85%;
    left: 5%;
    box-shadow: none; }
  .personal-card-large table {
    border-collapse: collapse;
    width: 80%;
    margin: 3rem 0;
    display: none; }
    .personal-card-large table td {
      border: 1px solid #666666;
      text-align: right;
      padding: 8px;
      font-size: 1rem;
      color: #666666; }
      .personal-card-large table td span {
        color: #666666;
        background-color: transparent;
        font-size: 1rem;
        padding: 0 5px; }
    .personal-card-large table tr:nth-child(even) {
      background-color: #dddddd; }
  .personal-card-large__ghest {
    margin-top: 3rem;
    width: 80%; }
    .personal-card-large__ghest span {
      font-size: 1.3rem;
      color: #1E96FC;
      width: auto;
      background-color: transparent;
      text-align: center; }
  .personal-card-large__dashed-border {
    width: 24%;
    height: 9rem;
    border: 1px dashed #666666;
    border-radius: 1.2rem; }
    .personal-card-large__dashed-border h3 {
      font-size: 1.3rem;
      color: #666666; }
    .personal-card-large__dashed-border p {
      font-size: 1.3rem; }

.display table {
  display: table !important; }

.display button.bishtr {
  display: none !important; }

.display button.kamtr {
  display: inline !important; }

.personal-card {
  width: 25rem;
  height: 32rem;
  background-color: white;
  border-radius: 2rem;
  border: 2px solid #666666;
  margin-left: 5rem; }
  .personal-card:first-of-type {
    margin-right: 7rem; }
  .personal-card img {
    height: 9rem;
    width: 9rem; }
  .personal-card h2 {
    font-size: 1.8rem;
    color: #3CB938; }
  .personal-card span {
    font-size: 1.3rem;
    color: #FF0054;
    margin: 0 1rem; }
  .personal-card p {
    font-size: 1.2rem; }
  .personal-card button {
    width: 18rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer; }
    .personal-card button:last-of-type {
      margin-bottom: 1rem; }

.question {
  direction: rtl;
  background-position: left; }
  .question__main {
    min-height: 50rem;
    padding: 2rem 0;
    width: 100%;
    background-image: url(../../assets/img/question.png);
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 61.93em) {
      .question__main {
        background-image: none;
        background-color: #78a1d9; } }
  .question__tab-ofoghi {
    position: relative; }
  .question__tab-item {
    width: 100%; }
    .question__tab-item div {
      height: 7rem;
      width: 95%;
      background-color: white;
      border-radius: 1.2rem;
      box-shadow: 0 0 5px rgba(178, 178, 178, 0.8);
      cursor: pointer; }
    .question__tab-item h3 {
      margin-right: 2.5rem;
      font-size: 1.5rem;
      color: #666666;
      font-weight: 500;
      max-width: 80%;
      text-align: right; }
      @media only screen and (max-width: 48em) {
        .question__tab-item h3 {
          font-size: 1.8rem; } }
    .question__tab-item i {
      font-size: 2rem;
      border-radius: 50%;
      background-color: #B2B2B2;
      color: white;
      padding: 4px 9px;
      margin-left: 2.5rem;
      position: relative;
      transition: all .3s ease;
      position: absolute;
      left: 2%; }
      @media only screen and (max-width: 48em) {
        .question__tab-item i {
          padding: 5px 9px; } }
    .question__tab-item i.up {
      background-color: #9BCA3B;
      padding: 5px 9px;
      display: none;
      z-index: 999; }
      @media only screen and (max-width: 48em) {
        .question__tab-item i.up {
          padding: 6px 9px; } }
    .question__tab-item p {
      width: 94%;
      left: 2%;
      position: relative;
      padding: 0 1rem;
      font-size: 1.4rem;
      text-align: justify;
      color: white;
      height: 0;
      overflow: hidden;
      border-left: 2px solid white;
      transition: all .3s ease; }
      @media only screen and (max-width: 61.93em) {
        .question__tab-item p {
          width: 92%;
          font-size: 1.6rem; } }
      @media only screen and (max-width: 48em) {
        .question__tab-item p {
          width: 88%; } }
    .question__tab-item:last-of-type p {
      padding: 0; }

.active-tab {
  position: relative;
  margin-bottom: 1rem; }
  .active-tab h3 {
    color: #9BCA3B;
    max-width: 90%; }
  .active-tab p {
    height: 20rem;
    overflow: visible;
    padding: 2rem !important; }
  .active-tab i.right {
    display: none; }
  .active-tab i.up {
    display: inline;
    top: 100%;
    transform: translateY(-100%); }

.reminder {
  width: 100%;
  padding: 3rem 0;
  background-color: #F5F5F5;
  direction: rtl; }
  .reminder__main {
    width: 56%;
    height: 27rem;
    background-image: url(../../assets/img/taghvim.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .reminder__main {
        background-image: none;
        height: 35rem; } }
  @media only screen and (max-width: 75em) {
    .reminder div {
      margin-top: 2rem; } }
  .reminder h2 {
    color: white;
    font-size: 1.7rem;
    position: absolute;
    top: 5%; }
    @media only screen and (max-width: 75em) {
      .reminder h2 {
        color: #040F4F;
        top: 1%; } }
    @media only screen and (max-width: 48em) {
      .reminder h2 {
        font-size: 2rem; } }
  .reminder input {
    height: 4rem;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #040F4F;
    outline: none;
    padding: 1rem; }
    @media only screen and (max-width: 75em) {
      .reminder input {
        height: 5rem; } }
  .reminder label {
    font-size: 1.3rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 75em) {
      .reminder label {
        font-size: 1.6rem; } }
  .reminder button {
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    border: 2px solid #040F4F;
    background-color: #3CB938;
    color: white;
    font-size: 1.4rem; }
    @media only screen and (max-width: 75em) {
      .reminder button {
        height: 5rem;
        font-size: 1.6rem; } }

.result {
  width: 100%;
  background-color: #F5F5F5;
  direction: rtl; }
  .result__filter-list {
    width: 100%;
    height: 9rem;
    background-color: white;
    position: relative; }
    .result__filter-list div {
      position: relative;
      left: -30%; }
    .result__filter-list a,
    .result__filter-list a:link,
    .result__filter-list a:visited {
      text-decoration: none;
      color: #666666;
      font-size: 1.4rem;
      margin-left: 1rem;
      display: inline-block;
      padding: 3.2rem 2rem;
      cursor: pointer;
      transition: all .3s ease; }
  .result__result-list {
    flex: 1;
    border-right: 8px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 3rem; }
  .result__row-list {
    width: 100%;
    background-color: #F5A11D;
    height: 35rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
  .result__column-list {
    height: 90rem;
    overflow-y: scroll; }
    .result__column-list::-webkit-scrollbar {
      width: 0; }

a.active-filter {
  background-color: rgba(245, 245, 245, 0.9);
  border-top: 2.5px solid #F5A11D; }

.select-container {
  margin: 0 auto;
  width: 98%;
  background-color: white;
  border-radius: 1rem; }
  .select-container .select2 {
    width: 100% !important;
    direction: rtl !important;
    height: 5rem;
    border: 1px solid #040F4F;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    outline: none;
    padding: 0 5px;
    color: #040F4F;
    font-size: 1.5rem;
    font-weight: 700; }
    @media only screen and (max-width: 30em) {
      .select-container .select2 {
        font-size: 2rem;
        height: 6rem; } }
  .select-container .select2-selection__choice {
    float: right; }
  .select-container .select2-container .select2-selection--single {
    height: 100%;
    position: relative;
    outline: none;
    border: none; }
    .select-container .select2-container .select2-selection--single .select2-selection__rendered {
      padding: 1rem; }
    .select-container .select2-container .select2-selection--single .select2-selection__arrow {
      top: 50%;
      right: 82%;
      transform: translate(-82%, -50%); }
    .select-container .select2-container .select2-selection--single .select2-container--default .select2-results > .select2-results__options {
      -webkit-overflow-scrolling: touch; }

.select2-results {
  direction: rtl; }

.select2-results__option {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem; }
  @media only screen and (max-width: 30em) {
    .select2-results__option {
      font-size: 1.8rem; } }
  .select2-results__option:hover {
    background-color: #040F4F;
    color: white; }

.shop {
  height: auto;
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 9rem; }
  .shop__main {
    width: 70%;
    border-top: 2px solid #B2B2B2; }
    @media only screen and (max-width: 48em) {
      .shop__main {
        width: 90%; } }
  @media only screen and (max-width: 61.93em) {
    .shop__cards {
      flex-wrap: wrap !important; } }
  .shop__card {
    width: 18%;
    height: 15rem;
    border-radius: 2rem;
    border: 1px solid #040F4F;
    position: relative;
    margin: 5rem 1rem; }
    @media only screen and (max-width: 48em) {
      .shop__card {
        height: 19rem;
        width: 20%; } }
    .shop__card i {
      font-size: 4rem;
      color: #040F4F;
      width: 8rem;
      text-align: center;
      background-color: #F5F5F5;
      position: absolute;
      top: -15%;
      left: 50%;
      transform: translate(-50%, -15%); }
      @media only screen and (max-width: 48em) {
        .shop__card i {
          font-size: 5rem; } }
    .shop__card button {
      background-color: white;
      width: 12rem;
      height: 3rem;
      border-radius: 1rem;
      border: 1px solid #040F4F;
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -115%);
      outline: none;
      cursor: pointer; }
      @media only screen and (max-width: 48em) {
        .shop__card button {
          font-size: 1.6rem;
          width: 14rem;
          height: 3.5rem; } }
    .shop__card p {
      font-size: 1.2rem;
      color: #666666;
      margin: 2.5rem 0 !important;
      height: 10rem;
      overflow-y: auto; }
      @media only screen and (max-width: 48em) {
        .shop__card p {
          font-size: 1.6rem !important;
          height: 14rem; } }
  .shop p {
    font-size: 1.3rem;
    color: #666666;
    text-align: justify;
    margin: 2.5rem 0; }
    @media only screen and (max-width: 48em) {
      .shop p {
        font-size: 1.6rem; } }
  .shop button.read-more {
    font-size: 1.2rem;
    color: #B2B2B2;
    cursor: pointer;
    margin: 2rem;
    width: 15rem;
    background-color: transparent;
    border: none; }
    @media only screen and (max-width: 48em) {
      .shop button.read-more {
        font-size: 1.6rem; } }
  .shop__icon {
    font-size: 2rem;
    color: #F5A11D;
    padding: 1px 5px;
    border-radius: 50%;
    border: 1px solid #666666;
    margin-left: 1rem; }
    @media only screen and (max-width: 48em) {
      .shop__icon {
        padding: 2px 5px; } }

.steps {
  display: table;
  table-layout: fixed;
  width: 73%;
  position: relative;
  left: 2%;
  direction: rtl;
  z-index: 9; }
  .steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #3CB938;
    font-size: 1.3rem; }
    .steps > li i {
      font-size: 1.7rem;
      margin-left: 8px; }
    .steps > li:before {
      content: counter(stepNum);
      display: block;
      margin: 0 auto 4px;
      background-color: #3CB938;
      color: white;
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      line-height: 3.8rem;
      text-align: center;
      font-weight: bold;
      border: 2px solid #3CB938;
      border-radius: 50%; }
    .steps > li:after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: #3CB938;
      position: absolute;
      top: 16px;
      left: -50%;
      z-index: -1; }
    .steps > li:last-child:after {
      display: none; }
    .steps > li.is-active:before {
      background-color: #3CB938;
      border-color: #3CB938; }
    .steps > li.is-active ~ li {
      color: #808080; }
      .steps > li.is-active ~ li:before {
        background-color: #B2B2B2;
        border-color: #F5F5F5; }

.tab-amodi {
  direction: rtl;
  height: 9rem; }
  .tab-amodi nav {
    position: relative;
    right: 22%; }
    @media only screen and (max-width: 48em) {
      .tab-amodi nav {
        right: 0 !important;
        margin: auto; } }
  .tab-amodi a,
  .tab-amodi a:link,
  .tab-amodi a:visited {
    text-decoration: none;
    color: #666666;
    font-size: 1.4rem;
    margin-left: 1rem;
    display: inline-block;
    padding: 3.2rem 0;
    text-align: center;
    width: 12rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .tab-amodi a,
      .tab-amodi a:link,
      .tab-amodi a:visited {
        font-size: 1.6rem;
        padding: 3rem 0; } }
    .tab-amodi a::before,
    .tab-amodi a:link::before,
    .tab-amodi a:visited::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 0%;
      width: 12rem;
      background-color: rgba(0, 0, 0, 0.1);
      transform: scaleY(0);
      transition: transform 0.2s, height 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
  .tab-amodi a.width {
    width: 18rem; }
    .tab-amodi a.width::before {
      width: 18rem; }
  .tab-amodi a.active-filter {
    border-top: 2.5px solid #F5A11D; }
    .tab-amodi a.active-filter::before {
      transform: scaleY(1);
      height: 100%; }

.footer {
  width: 100%;
  background-color: #040F4F;
  direction: rtl;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); }
  .footer__main {
    width: 78%;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .footer__main {
        width: 85%; } }
  .footer__border {
    width: 100%;
    padding: 1.5rem; }
    .footer__border:not(:last-of-type) {
      border-bottom: 1px solid white; }
  .footer ul {
    list-style: none;
    width: 15%; }
    @media only screen and (max-width: 75em) {
      .footer ul {
        width: 23%; } }
    @media only screen and (max-width: 61.93em) {
      .footer ul {
        width: 48%;
        margin-bottom: 2rem; } }
  .footer li {
    margin-top: 8px; }
  .footer h3 {
    font-size: 1.4rem;
    font-weight: 100;
    color: #F5A11D;
    margin: 1rem; }
    @media only screen and (max-width: 48em) {
      .footer h3 {
        font-size: 1.8rem; } }
  .footer a,
  .footer a:link,
  .footer a:visited {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    margin: 5px; }
    @media only screen and (max-width: 48em) {
      .footer a,
      .footer a:link,
      .footer a:visited {
        font-size: 1.6rem;
        margin-top: 8px; } }
  .footer label {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 48em) {
      .footer label {
        font-size: 1.6rem; } }
  .footer input {
    width: 25rem;
    height: 3.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    padding: 1rem; }
    @media only screen and (max-width: 48em) {
      .footer input {
        width: 30rem;
        height: 5rem; } }
  .footer form {
    width: 100%; }
  .footer button {
    width: 25rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #3CB938;
    color: white;
    font-size: 1.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .footer button {
        width: 30rem;
        height: 5rem;
        font-size: 1.8rem; } }
  .footer__img-brand {
    height: 6rem;
    width: 6rem;
    margin-left: 5rem; }
    @media only screen and (max-width: 48em) {
      .footer__img-brand {
        margin: 0; } }
  .footer__img-app {
    height: 5rem;
    width: 18rem;
    margin-right: 3rem; }
    @media only screen and (max-width: 48em) {
      .footer__img-app {
        margin: 0; } }
  .footer i {
    font-size: 2rem;
    color: white;
    margin-right: 1.5rem; }
    @media only screen and (max-width: 48em) {
      .footer i {
        font-size: 3rem; } }
  .footer__left-border {
    padding: 2px 1.5rem;
    text-align: center; }
    .footer__left-border:not(:last-of-type) {
      border-left: 1px solid white; }
  .footer span {
    font-size: 1.2rem;
    color: white;
    text-align: center; }
  .footer__absolute-pos {
    position: absolute;
    right: 1%; }
    @media only screen and (max-width: 61.93em) {
      .footer__absolute-pos {
        display: none; } }

.header {
  width: 100%;
  background-color: #040F4F;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 99; }
  .header__main {
    height: 100%; }
  @media only screen and (min-width: 61.93em) {
    .header div#navbarSupportedContent {
      display: none !important; } }
  .header img {
    height: 6rem;
    width: 7rem; }
  .header ul {
    list-style-type: none; }
  .header li {
    padding: 2rem 1.5rem;
    border-bottom: 3px solid transparent;
    transition: all .2s ease; }
    .header li:hover {
      border-bottom: 3px solid #3CB938; }
  .header a,
  .header a:link,
  .header a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: white; }
  .header i {
    font-size: 2rem;
    color: white;
    margin-left: 1.5rem;
    cursor: pointer; }
  .header p {
    font-size: 1.6rem;
    color: white;
    cursor: pointer; }
  .header span {
    color: #F5A11D; }

.active-nav {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 3px solid #3CB938; }
  .active-nav:hover {
    border-bottom: none !important; }

.main__step-section {
  height: 11rem;
  background-color: #F5F5F5; }

.navigation {
  width: 100%;
  height: 5rem; }
  @media only screen and (max-width: 61.93em) {
    .navigation {
      display: none !important; } }
  .navigation ul {
    width: 100%;
    height: 100%;
    background-color: #F5A11D;
    list-style-type: none;
    margin-bottom: 0; }
  .navigation li {
    height: 100%;
    padding: 1rem 3.5rem;
    cursor: pointer; }
    .navigation li:not(:last-of-type) {
      border-left: 1px solid #040F4F; }
  .navigation a,
  .navigation a:link,
  .navigation a:visited {
    font-size: 1.4rem;
    font-weight: bold;
    color: #040F4F;
    text-decoration: none; }
